<h2>
  <%= t("policies.index.#{@policy.name}")%>
</h2>

<div class="card">

  <div class="card-body">
    <%= raw @policy.to_html %>
  </div>

  <div class="card-footer">
    <div class="float-left">
      <span class="text-muted">
      <%= t('policies.show.last_update') %>:
        <%= l @policy.updated_at, format: '%d/%m/%Y' %>
    </span>
    </div>
    <div class="float-right">
      <% if @edit_mode %>
        <%= link_to t('policies.show.back'), :back, class: "btn btn-primary" %>
        <%= link_to t('policies.show.edit'),
                    edit_policy_path(@policy),
                    class: "btn btn-success"
        %>
      <% end %>
    </div>

  </div>
</div>
