<!DOCTYPE html>
<html>
<head>
  <title>Policy manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "policy_manager/application", media: "all" %>
  <%= javascript_include_tag "policy_manager/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
